// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cf{zoom:1;}
.cf:after{
  content:"";
  display: table;
  clear: both;
 }


#head_menu{
    padding: 0;
    height: 7rem;
    margin: 0;
    li{
      float: left;
      a{
        color: #595757;

  }
}
}
.interval{
  margin: 3rem;
}
.fixed_sign{
  width: 180px;
  img{
    width: 100%;
  }

}

body{
  background-color: #E6E6E6;
}
header{
  background-color: #fff;
}
.wrap{
  width: 60%;
  margin: 0 auto;
  padding: 5%;
  background-color: rgba(256, 256, 256, 0.5);
  img{
    width: 100%;
  }
}
.name_area{
  float: left;
  width: 80%;
  padding: 1%;
}
.image_area{
  float: left;
  width: 10%;
  img{
    border-radius: 50%;
  }
}
.name_area2{
  font-size: 3rem;
  float: left;
  width: 60%;
  padding: 1%;
}
.image_area2{
  float: left;
  width: 30%;
  img{
    border-radius: 50%;
  }
}
a:hover{
  opacity: 0.5;
}
.picture_title{
  font-weight: bold;
  font-size: 2rem;
}
.picture_area{
  position: relative;
  margin: 0;
}
.icon{
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  margin: 0;
  width: 30%;
  li{
    float: right;
    padding: 5%;
  a{
    color: #fff;
  }
}
}

.provider{
  li{
    float: left;
    width: 5%;
  }
}
